<!DOCTYPE html>
<html>
<head>
    <title>Elpris Appen</title>
</head>
<body>
    <h1>Välkommen till Elpris Appen</h1>
    <form action="/resultat" method="post">
        <label for="year">År:</label>
        <input type="text" name="year" id="year" required><br>

        <label for="month">Månad:</label>
        <input type="text" name="month" id="month" required><br>

        <label for="day">Dag:</label>
        <input type="text" name="day" id="day" required><br>

        <label for="price_class">Prisklass:</label>
        <input type="text" name="price_class" id="price_class" required><br>

        <input type="submit" value="Hämta priser">
    </form>
<br>
<p><a href="https://www.elprisetjustnu.se"><img src="https://ik.imagekit.io/ajdfkwyt/hva-koster-strommen/elpriser-tillhandahalls-av-elprisetjustnu_ttNExOIU_.png" alt="Elpriser tillhandahålls av Elpriset just nu.se" width="200" height="45"></a></p>
</body>
</html>


