<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elprisapplikation</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body style="background color: #d3d7de; ">

    <h1>Hämta Elpriser idag</h1>
    <form method="post" action="/result">

        <label for="year">År:</label>
        <input type="text" id="year" name="year" required><br>

        <label for="month">Månad:</label>
        <input type="text" id="month" name="month" required><br>

        <label for="day">Dag:</label>
        <input type="text" id="day" name="day" required><br>

        <label for="price_class">Prisklass:</label>
        <input type="text" id="price_class" name="price_class" required><br>
        <input type="submit" value="Hämta Elpris">
    </form>
    <p><a href="https://www.elprisetjustnu.se"><img src="https://ik.imagekit.io/ajdfkwyt/hva-koster-strommen/elpriser-tillhandahalls-av-elprisetjustnu_ttNExOIU_.png" alt="Elpriser tillhandahålls av Elpriset just nu.se" width="200" height="45"></a></p>
</body>
</html>